<section class="w-full bg-purple-500 py-8 md:py-18">
  <div class="max-w-[100rem] mx-auto text-white">
    <h1 class="text-3xl md:text-5xl text-center font-bold">Dentistry is an art and we master it.</h1>
  </div>
</section>
