---
import Title from "../../components/text/Title.astro";
---

<section class="w-full flex flex-col gap-32 h-[40rem]">
  <div>
    <h1 class="text-4xl md:text-[25rem] tracking-tighter font-black text-center"><span class="text-gray-200">Smil<span class="inline-block -rotate-[20deg]">e</span></span></h1>
    <Title centered>like never before</Title>
  </div>
  <button class="shadow-sm rounded-md bg-purple-700 w-fit mx-auto py-3 px-9 text-white cursor-pointer hover:opacity-85 duration-200">Book an appointment</button>
</section>
