---
import Title from "../../components/text/Title.astro";
---

<section class="w-full flex flex-col gap-20 md:gap-32 h-fit mb-10 lg:mb-24">
  <div>
    <h1 class="text-[10rem] md:text-[25rem] text-center font-const"><span class="text-gray-200">Smile</span></h1>
    <Title centered style="-mt-20 md:-mt-60">like never before</Title>
  </div>
  <button class="shadow-md rounded-md bg-purple-700 w-fit mx-auto py-3 px-9 text-white cursor-pointer hover:opacity-85 duration-200">Book an appointment</button>
</section>
