---
import Title from "../../components/text/Title.astro";
import Tooth from "../../assets/images/tooth.jpg";
import { Picture } from "astro:assets";
---

<section class="py-10 md:py-24 flex flex-col-reverse md:flex-row justify-between w-full gap-8 md:gap-20 mx-auto max-w-[100rem]">
  <div class="w-3/4">
    <Title>We care about you <span class="text-gray-500">exclusively</span></Title>
    <p class="text-md md:text-lg text-justify my-10 w-3/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus facilis ex nihil enim dolorum ea ullam commodi aliquam, illo pariatur sapiente maxime maiores, architecto sed nulla voluptates. Hic, ipsum dolore?</p>
  </div>
  <div class="w-1/2 rounded-md flex relative">
    <Picture alt="tooth" width="900" class="rounded-md relative" src={Tooth} />
  </div>
</section>
